@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common styles */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #828181;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
}
